:root{
    --body-bg:#111;
    --game-container-bg:#272727;
    --border-color:rgb(80, 80, 80);
    --container-bg:#2b2a2a;
    --incoming-chat-bg:rgb(80, 80, 80);
    --theme-color-hover: rgb(27, 160, 109);
    --theme-color: rgba(27, 156, 100, 0.788);
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--body-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
#game-container {
    background-color: var(--game-container-bg);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.61);
    width: 90%;
    max-width: 600px;
    height: 90%;
    display: flex;
    flex-direction: column;
}
#chat-window {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: var(--container-bg);
}
.typing-text{
    color:var(--border-color);
    font-size:small
}
.top-bar{
    width: 95%;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    margin-bottom: 10px;
    color:rgb(151, 150, 150)
}
.top-bar .user-info{
    display: flex;
    gap: 6px;
    align-items: center;
    cursor: pointer;
}
.top-bar .user-info .anna-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.message-container{
    width: 100%;
    display: flex;
    justify-content: end;
}
.message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 1rem;
    max-width: 75%;
    display: flex;
    word-wrap: break-word;
}
.message.user {
    background-color: var(--theme-color);
    color: #fff;
    align-self: flex-end;
}
.message.anna {
    background-color: var(--incoming-chat-bg);
    color: #fff;
    align-self: flex-start;
}
#options-container {
    display: flex;
    gap:8px;
    flex-wrap: wrap;
}
.option-button {
    padding: 10px;
    flex:1;
    margin-bottom: 10px;
    background-color: var(--theme-color);
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.option-button:hover {
    background-color: var(--theme-color-hover);
}
.settings{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap:2px
}